<div>
  <table class="">
    <thead>
      <tr>
        <th scope="">Flight</th>
        <th scope="">Origin</th>
        <th scope="">Arrival Schedule</th>
        <th scope="">Baggage Claim</th>
        <th scope="">Remark</th>
      </tr>
    </thead>
    <tbody class="">
      <% arrivals.forEach((arrive) => { %>
      <tr>
        <td style="width: 25%">
          <div class="flight-container">
            <div class="tampillogo"></div>
            <div>
              <span style="margin-left: 10px" class="maskapai" style="text-transform: uppercase"><%= arrive.airline.toUpperCase() %></span>
              <span style="margin-left: 1px"><%= arrive.flightnumber %></span>
            </div>
          </div>
        </td>
        <td style="text-transform: uppercase"><%= arrive.origin %></td>
        <td><%= arrive.arrivetime %></td>
        <td><%= arrive.baggage %></td>
        <td style="text-transform: uppercase"><%= arrive.remark %></td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <div class="container-depart">
    <div class="depart">
      <div class="bottom-center">ARRIVAL</div>
      <div class="date"></div>
      <div class="pukul"></div>
    </div>
  </div>
</div>

<!-- script -->
<script src="js/loadlogo.js"></script>
<script>
  const datetime = new Date();
  const h = datetime.getHours();
  const yyyy = datetime.getFullYear().toString();
  let mm = datetime.getMonth();
  let dd = datetime.getDate().toString();
  //console.log(datetime.toLocaleTimeString("en-US", { hour12: false }).substring(0, 5));

  const bulan = ["Januari", "Februari", "Maret", "April", "Mei", "Juni", "Juli", "Agustus", "September", "Oktober", "November", "Desember"];

  const formattedToday = dd + " " + bulan[mm] + " " + yyyy;

  const today = document.querySelector(".date");
  today.innerHTML = formattedToday;

  setInterval(myTimer, 1000);

  function myTimer() {
    const localDate = new Date();
    const skrg = localDate.toLocaleTimeString("en-US", { hour12: false }).substring(0, 5);
    document.querySelector(".pukul").innerHTML = skrg;
  }
</script>
